* {
  margin: 0;
  padding: 0;
  background-color: slateblue;
}

h1 {
  font-size: 20px;
}

#thumbnails-container {
  width:
  height:
}

#thumnails-container img {
  width:
  height:
}

#large-image-container {
  width:
  height;
}
