* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
}

h1 {
  font-size: 20px;
}

#thumbnails-container {
  background-color: blue;
  width: 200px;
  height: 200px;
  z-index: 10;
  position: fixed;
  top: 0;
}

#thumnails-container img {
  width: 50px;
  height: auto;
}

#large-image-container {
  background-color: slateblue;
  width: 100vh;
  height: 100vw;
}

#large-image-container img {
  background-color: grey;
}
